:root {
    --nord0: #D8DEE9
    --nord1: #E5E0F0
    --nord2: #8FBCBB 
    --nord3: #88C0D0
    --nord4: #81A1C1
    --nord5: #5E81AC
    --nord6:#B48EAD
    --font:BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Fira Sans", "Arial";

 body {
    font-family: var(--font);
    color: var(--nord5)
    }

 header, section {
        width: 960px;
        margin: 0 auto;
    }

 header {
    display: flex;
    background-color:#f8d2c7
    padding-left: 16;
 }
ul {
  list-style-type: ; 
}
 section{
   display:flex;
 }

 article {
   width: 60%; 
 }

 img  {
    width:200px;
    height:200px;
    margin-right: 16px;
    border-radius: 50%;
 }
a:link, a:visited {
   text-emphasis: none;
   color: rgb(135, 139, 141);   
}
background-color:#bf9c92

}
progress{
   margin-left: 8px;
}

}
.flex {
  display: flex; 
}
}
.centrar {
   text-align: center;
}

h4 {
   text-align: justify;
   font-family: Times, serif;
}
@media(max-width:900px){
   .header-principal{
      display:none
   }
   
   }


